 *{
	margin:0;
	padding:0;
	 
}
body
{
	
	font-family:sans-serif;
	
	
}

#nav-bar
{
	background-color:#1b021bea;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.nav-link:hover{
    background-color:#E7AB79;
}
.navbar
{

    padding: 0 !important;
}
navbar-brand img
{
	height:40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#fd0932;
	font-size:30p !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---banner section--*/
#main
{
	text-align: center;
background-color:#E7AB79;
color:#fff;
padding-top:10%;	
}
.container h1 img{
	padding-bottom: 10px;
}


/*---service section---*/
#features1
{
	text-align: center;
	padding: 10% 15%;
}
 #features
 {
     text-align: center;
	 padding: 10% 15%; 
     background-image: url("sparks1.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;

 }
 .features1 h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}
.title::before
{
	content:'';
	background:#d9e623;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title::after
{
	content:'';
	background:#e3e709;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#5F9DF7,#FFF7E9)
    
}
/* Action*/
  #action{
    background-color:#E7AB79;
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    color: rgb(250, 246, 246);
  }
  .main{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
  }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* footer */
.media{
        padding-left: 250px;
}
li{
	list-style: none;
	margin: 20px 10px;
	display: inline-block;
	font-size: 20px;
	padding: 20px 20px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: 1.5s;
	
}
li:hover{
	color: #292929;
	border: 1px solid #1b021bea;
	transition: .2s;
	padding: 10px 10px;
}
#footer{
	background-color:#E7AB79;
    padding: 4% 25%;
    text-align: center;
}
